@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,700,900&display=swap');

html {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  word-spacing: 1px;
  line-height: 1.4;
}
