@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700,900&display=swap');

html {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  //   font-weight: $fw-regular;
  color: black;
  word-spacing: 1px;
  line-height: 1.4;
}
